.msg-con{
    text-align: center;
    display: flex;
    height: 80%;
    width: 100%;
}
.msg-left{
    flex:2;
}
.image{
    width:50%;
    height:50%;
    border-style: groove;
    border-radius: 50%;
}
.msg-mid{
    flex: 3;
}
.msg-right{
    flex: 3;
}