.item-image{
    padding-top: 5px;
    width: 80%;
    height: 30%;
}
.item-des{
    padding: 4px;
}
.item-des{
    width: 25%;
    height: 25%;
    border-radius: 2%;
    border: 2px solid;
    margin: 3%;
    background-color: black;
    color: white;

}
.buy-btn{
    cursor: pointer;
    margin-left: 15px;
}