.item-image{
    padding-top: 5px;
    width: 20vw;
    height: 20vh;
}
.item-des{
    padding: 4px;
}
.item-des{
    width: 50vw;
    height: 50vh;
    border-radius: 2%;
    border: 2px solid;
    margin: 3%;
    background-color: black;
    color: white;

}
.buy-btn{
    cursor: pointer;
    margin-left: 15px;
}
.link{
    text-decoration: none;
}
.item{
    padding-left: 10px;
}

