.top-container{
    width: 100%;
    height: 5vh;
    display: flex;
    background-image: url('../assets/texture/texture.jpg');
    margin-bottom: 50px;
}
.img-test{
    background-color: white;
    width: 38px;
    height: 38px;
}
.left-bar{ 
    flex: 1;

}
.right-bar{ 
    flex: 5;
}
.topbar-btn-menu-left{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}
.topbar-btn-menu{
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
}
.title-cont{
    flex: 8;
    text-align: center;
}
.middle-title{
    text-align: center;
    font-size: 25px;
    color: white;
}