.admin-cont{
    display: flex;
    align-items: center;
    text-align: center;
}
.admin-left{
    height: 80vh;
    flex: 1;
    padding-left: 4px;
    background-color: aqua;
}
.admin-middle{
    height: 80vh;
    flex: 2;
    background-color: rgb(32, 108, 108);
}
.admin-right{
    height: 80vh;
    flex:1;
    background-color: rgb(18, 24, 24);
}