.profile-wrapper{
    display:flex;
}
.profile-left{
    padding-left: 5%;
    flex: 4;
}
.profile-right{
    width: 50vw;
}
.ppic{
    width: 50vw;
    height: 50vh;
    border-top-left-radius: 60%;
}
.img-feed{
    margin-left: 30%;
    width: 25%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
}
.edit-profile{
    box-shadow: 10px 5px 5px rgb(48, 47, 47);
    font-size: x-large;
    border-radius: 9.5%;
}
.profile-text{
    color: red;
    font-size: 90px;
}